<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buy">
	<resultMap id="resultBuyItem" type="Purchase"/>
	
	
	<resultMap id="resultBuyList" type="map">
		<result property="buy_code" column="BUY_CODE" />
		<result property="sCode" column="SCODE" />
		<result property="mName" column="MNAME" />
		<result property="pName" column="PNAME" />
		<result property="mCode" column="MCODE" />
		<result property="pCode" column="PCODE" />
		<result property="wName" column="WNAME" />
		<result property="buy_amount" column="BUY_AMOUNT" />
		<result property="buy_origin" column="BUY_ORIGIN" />
		<result property="buy_price" column="BUY_PRICE" />
		<result property="buy_discount" column="BUY_DISCOUNT" />
		<result property="buy_status" column="BUY_STATUS" />
		<result property="buy_date" column="BUY_DATE" />
		<result property="parName" column="PARNAME" />
		<result property="ptCode" column="PARTNERC" />
	</resultMap>
	
		<resultMap id="resultList" type="map">
		<result property="sdCode" column="SDCODE" />
		<result property="sCode" column="SCODE" />
		<result property="eCode" column="ECODE" />
		<result property="idCode" column="IDCODE" />
		<result property="mCode" column="MCODE" />
		<result property="pCode" column="PCODE" />
		<result property="eName" column="ENAME" />
		<result property="wName" column="WNAME" />
		<result property="mName" column="MNAME" />
		<result property="pName" column="PNAME" />
		<result property="parName" column="PARNAME" />
		<result property="parC" column="PARTNERC" />
	</resultMap>
	
	<resultMap id="resultInsert" type="map">
		<result property="sdCode" column="SDCODE" />
		<result property="sCode" column="SCODE" />
		<result property="eCode" column="ECODE" />
		<result property="idCode" column="IDCODE" />
		<result property="mCode" column="MCODE" />
		<result property="pCode" column="PCODE" />
		<result property="buy_amount" column="SDSTOK" />
		<result property="buy_price" column="SDCOST" />
		<result property="buy_date" column="SDPRICE" />
	</resultMap>


	
	<!-- 구매 리스트 -->
	<select id="selectBuyList" resultMap="resultBuyList">
		SELECT PI.BUY_CODE BUY_CODE,T.SCODE SCODE, M.MNAME MNAME, P.PNAME PNAME, E.WNAME WNAME, M.MCODE MCODE, P.PCODE PCODE,PI.BUY_DATE BUY_DATE, E.IDCODE IDCODE,
		PI.BUY_AMOUNT BUY_AMOUNT, PI.BUY_ORIGIN BUY_ORIGIN, PI.BUY_PRICE BUY_PRICE, PI.BUY_STATUS BUY_STATUS, PT.PARTNERC PARTNERC, PT.PARNAME PARNAME
		FROM PURCHASE_ITEM PI, MATERIAL M, PRODUCT P, EMPLOYEE E, STORAGE T, PARTNER PT
		WHERE PI.SCODE = T.SCODE AND
		PI.MCODE = M.MCODE (+) AND 
		PI.PCODE = P.PCODE (+) AND
		PI.PARTNERC = PT.PARTNERC AND
		PI.IDCODE = E.IDCODE
	</select>
	
	<!-- 보유 목록 리스트 -->
		<select id="selectM" resultMap="resultList">
		SELECT MCODE,MNAME
		  FROM MATERIAL
		</select>
	
		<select id="selectP" resultMap="resultList">
		SELECT PCODE,PNAME
		  FROM PRODUCT
		</select>
	
		<select id="selectPt" resultMap="resultList">
		SELECT PARTNERC,PARNAME,ECODE
		  FROM PARTNER
		</select>
	
		<select id="selectS" resultMap="resultList">
		SELECT SCODE,ECODE
		  FROM STORAGE
		</select>
	
		<select id="selectE" resultMap="resultList">
		 SELECT E.IDCODE, E.WNAME, D.ECODE
		  FROM EMPLOYEE E, DEPARTMENT D
          WHERE E.DCODE = D.DCODE
		</select>
	
	
	<!-- 구매 상세보기 -->
	<select id="selectBuyItemOne" resultType="Purchase">
		SELECT * FROM PURCHASE_ITEM WHERE BUY_CODE = #{buy_code}
	</select>

	
	<insert id="insertBuyItem" parameterType="Purchase">
		INSERT INTO PURCHASE_ITEM
			VALUES (PURCHASE_ITEM_SEQ.NEXTVAL, #{sCode}, #{mCode}, #{pCode},
			#{buy_amount},#{buy_origin},#{buy_price}, DEFAULT,#{idCode},DEFAULT,#{eCode},#{ptCode})
	</insert>
	
	
	<insert id="insertBuyStorage" parameterType="Purchase">
	INSERT INTO STORAGE_DETAIL
		VALUES (STORAGE_DETAIL_SEQ.NEXTVAL, #{sCode}, #{eCode}, #{idCode},
		#{mCode},#{pCode},NULL, #{buy_amount},#{buy_price},NULL, DEFAULT)
	</insert>
	
	
	
	
	<!-- 	<choose>
			<when test="mCode != null">
			#{mCode},DEFAULT
			</when>
			<otherwise>
			DEFAULT,#{pCode}
			</otherwise>
			</choose> -->
	
	<update id="updateBuyItem" parameterType="Purchase">
		UPDATE PURCHASE_ITEM
	    	SET SCODE = #{sCode},MCODE = #{mCode}, PCODE = #{pCode}, 
			BUY_AMOUNT = #{buy_amount}, BUY_ORIGIN = #{buy_origin}, 
			BUY_PRICE = #{buy_price}
			WHERE BUY_CODE = #{buy_code}
	</update>
	
	<update id="updateBuyStorage" parameterType="Purchase">
	UPDATE PURCHASE_ITEM
	SET BUY_STATUS = #{buy_status}
	WHERE BUY_CODE = #{buy_code}
	</update>
	 
	<delete id="deleteBuyItem">
		DELETE FROM PURCHASE_ITEM
	    	WHERE BUY_CODE = #{buy_code}
	</delete>
	
	<!-- PURCHASE 추가 -->
	
	<!-- <insert id="insertBuy">
		INSERT INTO MATERIALS_CATEGORY
			VALUES (PURCHASE_SEQ.NEXTVAL, #{mcName})
	</insert>  -->
</mapper>
