<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="buy">
	<resultMap id="resultBuyItem" type="Purchase"/>
	
	<resultMap id="resultBuy" type="Purchase">
		<result property="buy_code" column="buy_code" />
		<result property="sCode" column="sCode" />
		<result property="mCode" column="mCode" />
		<result property="pCode" column="pCode" />
		<result property="idCode" column="idCode" />
		<result property="buy_amount" column="buy_amount" />
		<result property="buy_origin" column="buy_origin" />
		<result property="buy_price" column="buy_price" />
		<result property="buy_status" column="buy_status" />
		<result property="buy_discount" column="buy_discount" />
		<result property="sddivi" column="sddivi" />
	</resultMap>

	
	<!-- 구매 리스트 -->
	<select id="selectBuyList" resultType="Purchase">
		SELECT * FROM PURCHASE_ITEM
	</select>
	
	<!-- 구매 상세보기 -->
	<select id="selectBuyItemOne" resultType="Purchase">
		SELECT * FROM PURCHASE_ITEM WHERE BUY_CODE = #{buy_code}
	</select>

	
	<insert id="insertBuyItem">
		INSERT INTO PURCHASE_ITEM
			VALUES (PURCHASE_ITEM_SEQ.NEXTVAL, #{sCode}, #{mCode}, #{pCode},
			#{buy_amount},#{buy_origin},#{buy_price}, #{buy_status}, #{buy_discount,jdbcType=VARCHAR},#{sddivi},#{idCode})
	</insert>
	
	<!-- 	<choose>
			<when test="mCode != null">
			#{mCode},DEFAULT
			</when>
			<otherwise>
			DEFAULT,#{pCode}
			</otherwise>
			</choose> -->
	
	<update id="updateBuyItem" parameterType="Purchase">
		UPDATE PURCHASE_ITEM
	    	SET SCODE = #{sCode},MCODE = #{mCode}, PCODE = #{pCode}, 
			IDCODE = #{idCode}, BUY_AMOUNT = #{buy_amount}, BUY_ORIGIN = #{buy_origin}, 
			BUY_PRICE = #{buy_price}, BUY_STATUS = #{buy_status}, BUY_DISCOUNT = #{buy_discount}
			WHERE BUY_CODE = #{buy_code}
	</update>
	
	<delete id="deleteBuyItem">
		DELETE FROM PURCHASE_ITEM
	    	WHERE BUY_CODE = #{buy_code}
	</delete>
	
	<!-- PURCHASE 추가 -->
	
	<!-- <insert id="insertBuy">
		INSERT INTO MATERIALS_CATEGORY
			VALUES (PURCHASE_SEQ.NEXTVAL, #{mcName})
	</insert>  -->
</mapper>
