<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="employee">

	<resultMap id="Department" type="Department">
		<id property="dCode" column="dcode" />
		<result property="eCode" column="ecode" />
		<result property="dTitle" column="dtitle" />
	</resultMap>

	<resultMap id="resultEmployee" type="Employee">
		<id property="idCode" column="idcode" />
		<result property="dCode" column="dcode" />
		<result property="wPwd" column="wpwd" />
		<result property="wName" column="wname" />
		<result property="position" column="position" />
		<result property="enrollDate" column="enrolldate" />
		<result property="wStatus" column="wstatus" />
		<result property="retireDate" column="retiredate" />
<!-- 		<collection property="Department" resultMap="Department"/> -->
	</resultMap>
	
	
	<resultMap id="resultEmployeeId" type="Employee">
		<id property="idCode" column="idcode" />
		<result property="wPwd" column="wpwd" />
	</resultMap>
	
	
	<select id="selectEmpList" resultType="Employee">
		SELECT E.*,D.ECODE, D.DTITLE
		FROM EMPLOYEE E , DEPARTMENT D
		WHERE E.DCODE = D.DCODE
	</select>
	
	
	
	
	
	
	
	
	<select id="selectEmp" resultType="Employee">
		SELECT E.*, D.ECODE, T.ENAME   
	FROM EMPLOYEE E, DEPARTMENT D, ENTERPRISE T  
	WHERE E.DCODE = D.DCODE
	AND D.ECODE = T.ECODE
	AND E.IDCODE = #{idCode}
	</select>
	
	


	<insert id="insertEmp" parameterType="Employee">
		INSERT INTO EMPLOYEE
		VALUES (#{idCode}, #{dCode},
		        #{wPwd}, #{wName}, #{position},
		        #{enrollDate},#{wStatus},DEFAULT)
	</insert>


	<update id="updateEmp" parameterType="Employee">
		UPDATE EMPLOYEE SET 
		 DCODE= #{dCode},
		 WNAME= #{wName},
		 POSITION=#{position},
		 ENROLLDATE=#{erollDate},
		 WSTATUS=#{wStatus}
		 RETIREDATE=#{retireDate}
		WHERE IDCODE = #{idCode}
	</update>











</mapper>
