<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jobOrder">
	<resultMap id="jobOrderMap" type="map">
		<result property="eCode" column="ECODE" />
		<result property="workcode" column="WORKCODE" />
		<result property="idCode" column="IDCODE" />
		<result property="pCode" column="PCODE" />
		<result property="productea" column="PRODUCTEA" />
		<result property="sCode" column="SCODE" />
		<result property="orderdate" column="ORDERDATE" />
		<result property="jostatus" column="JOSTATUS" />
		<result property="wName" column="WNAME" />
		<result property="pName" column="PNAME" />
		<result property="fName" column="FNAME" />
	</resultMap>

	<resultMap id="resultListP" type="map">
		<result property="pCode" column="PCODE" />
		<result property="pName" column="PNAME" />
	</resultMap>
	
	<resultMap id="resultListE" type="map">
		<result property="idcode" column="IDCODE"/>
		<result property="wname" column="WNAME" />
	</resultMap>
	
	<resultMap id="resultListS" type="map">
		<result property="sCode" column="SCODE"/>
		<result property="sname" column="SNAME" />
	</resultMap>
	<!-- Storage -->
	
	<select id="selectJobOrderList" resultMap="jobOrderMap">
      SELECT EN.ECODE ECODE, JO.WORKCODE WORKCODE, E.IDCODE IDCODE, P.PCODE PCODE, JO.PRODUCTEA PRODUCTEA, S.SCODE SCODE, JO.ORDERDATE ORDERDATE, JO.JOSTATUS JOSTATUS, E.WNAME WNAME, P.PNAME PNAME, S.SADDR SADDR 
      FROM ENTERPRISE EN, JOB_ORDER JO, PRODUCT P, EMPLOYEE E, STORAGE S, DEPARTMENT D
      WHERE JO.IDCODE = E.IDCODE AND
      JO.PCODE = P.PCODE AND
      JO.IDCODE = E.IDCODE AND
      JO.SCODE = S.SCODE AND 
      E.DCODE = D.DCODE AND
      D.ECODE = EN.ECODE
	</select>
	
	<select id="selectP" resultMap="resultListP">
		SELECT PCODE , PNAME
		FROM PRODUCT
		ORDER BY PCODE
	</select>
	
	<select id="selectE" resultMap="resultListE">
		SELECT IDCODE, WNAME
		FROM EMPLOYEE
		ORDER BY IDCODE
	</select>
	<select id="selectS" resultMap="resultListS">
		SELECT SCODE, SADDR SNAME
		FROM STORAGE
		ORDER BY SCODE
	</select>
	
	<insert id="insertJobOrder">
		INSERT INTO JOB_ORDER
		VALUES (WORKCODE_SEQ.NEXTVAL, #{idCode}, #{pCode}, #{productea}, #{sCode}, DEFAULT, DEFAULT)
	</insert>
	
	<update id="updateJobOrder" parameterType="Job_order">
		UPDATE JOB_ORDER
		    SET pCode = #{pCode},
		    	productea = #{productea},
		    	sCode = #{sCode},
		        jostatus = #{jostatus}
		    WHERE workcode = #{workcode}
	</update>
	
	<delete id="deleteJobOrder">
		DELETE FROM JOB_ORDER
	    WHERE WORKCODE = #{workcode}
	</delete>
	
	
	<insert id="insertStorage">
		INSERT INTO STORAGE_DETAIL
			VALUES (STORAGE_DETAIL_SEQ.NEXTVAL, #{sCode}, #{eCode}, #{idCode}, null, #{pCode}, #{in_Code},
	 		#{sdStock}, #{sdCost}, #{sdPrice}, SYSDATE)
	</insert>
	
</mapper>
