<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="m_storage">
	
	<resultMap id="mStorageDetailMap" type="map">
		<result property="wName" column="WNAME" />
		<result property="mName" column="MNAME" />
		<result property="MSMSTOCK" column="MSMSTOCK" />
		<result property="MSDATE" column="MSDATE" />
		<result property="MSPRICE" column="MSPRICE" />
		<result property="MSSTATUS" column="MSSTATUS" />
		<result property="MSNO" column="MSNO" />
		<result property="SCODE" column="SCODE" />
	</resultMap>
	
		<resultMap id="Storage" type="map">
		<result property="sCode" column="SCODE" />
		<result property="sAddr" column="SADDR" />
		<result property="eCode" column="ECODE" />

	</resultMap>
	
		<resultMap id="Materials" type="map">
		<result property="mCode" column="MCODE" />
		<result property="mCate" column="MCATE" />
		<result property="mName" column="MNAME" />

	</resultMap>
	
	
	<!-- <resultMap type="M_storage" id="M_storage">
		<result column="IDCODE" property="IDCODE"
		        typeHandler="strArrTypeHandler"/>
	</resultMap> -->
	
	 <select id="selectM_storageList" resultMap="mStorageDetailMap">
		SELECT E.WNAME WNAME, M.MNAME MNAME, MS.MSMSTOCK MSMSTOCK, MS.MSDATE MSDATE, MS.MSPRICE MSPRICE
			, MS.MSSTATUS MSSTATUS, MS.MSNO MSNO, MS.SCODE SCODE
			FROM EMPLOYEE E , MATERIAL M , M_STORAGE MS
			WHERE MS.IDCODE = E.IDCODE
			AND MS.MCODE = M.MCODE
	</select> 
	
	<!-- <select id="selectM_storageList" resultType="M_storage">
		SELECT * FROM M_STORAGE ORDER BY MCODE DESC
	</select> -->
	
	<select id="selectM_storage" parameterType="_int" resultType="M_storage">
		SELECT * FROM M_STORAGE WHERE  = #{MSNO}
	</select>
	
	<insert id="insertM_storage" parameterType="M_storage">
		INSERT INTO M_STORAGE
		VALUES (SEQ_MSNO.NEXTVAL,#{IDCODE},#{MCODE}, 
		        #{SCODE}, #{MSMSTOCK}, SYSDATE,
		        #{MSPRICE},#{MSSTATUS})
	</insert>
 
	<update id="updateM_storage" parameterType="M_storage">
		UPDATE M_STORAGE
		SET MSMSTOCK = #{MSSTOCK},
		    MSPRICE= #{MSPRICE}
		WHERE MSNO = ?
	</update>
	
	<delete id="deleteM_storage" parameterType="_int">
		DELETE FROM M_STORAGE WHERE MSNO = #{MSNO}
	</delete>
	
	<select id="storageList" resultMap="Storage">
		SELECT SCODE, SADDR, ECODE FROM STORAGE
	</select>
	
	<select id="materialsList" resultMap="Materials">
		SELECT MCODE,  MNAME FROM  MATERIAL
	</select>
	
	

<!-- <select  id="select_Wname" parameterType="M_storage">
SELECT * FROM M_STORAGE
WHERE IDCODE= ( 
SELECT IDCODE
FROM EMPLOYEE
WHERE WNAME = #{WNAME}


</select>
 -->

</mapper>








