<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<resultMap id="productDetailMap" type="map">
		<result property="PCODE" column="PCODE" />
		<result property="PCNAME" column="PCNAME" />
		<result property="PNAME" column="PNAME" />
		<result property="PSIZE" column="PBARCODE" />
		<result property="PBARCODE" column="PBARCODE" />
		
		
	</resultMap>
	 
	
	<select id="selectProductList" resultMap="productDetailMap">
	SELECT P.PCODE PCODE ,PC.PCNAME PCNAME ,P.PNAME PNAME,P.PSIZE PSIZE,P.PBARCODE PBARCODE 
            FROM PRODUCT P , PRODUCT_CATEGORY PC 
            WHERE P.PCATE = PC.PCATE
	</select>
	
	<!-- <select id="selectProduct" parameterType="_int" resultType="Product">
		SELECT * FROM PRODUCT WHERE  = #{PCODE}
	</select> -->
	
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT
		VALUES (SEQ_PRODUCT_PCODE.NEXTVAL,#{PCATE}, 
		        #{PNAME}, #{PSIZE}, #{PBARCODE}
		       )
	</insert>
 
	<update id="updateProduct" parameterType="Product">
		UPDATE PRODUCT
		SET PNAME = #{PNAME},
		    PSIZE= #{PSIZE},
		     PBARCODE= #{PBARCODE}
		WHERE PCODE = #{PCODE}
	</update>
	
	<delete id="deleteProduct" parameterType="_int">
		DELETE FROM PRODUCT WHERE PCODE = #{PCODE}
	</delete>  
</mapper>








