<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quality_r">

	<!-- <resultMap type="M_storage" id="M_storage">
		<result column="IDCODE" property="IDCODE"
		        typeHandler="strArrTypeHandler"/>
	</resultMap> -->
	
	<resultMap id="quality_rDetailMap" type="map">
		<result property="QRCODE" column="QRCODE" />
		<result property="WNAME" column="WNAME" />
		<result property="SADDR" column="SADDR" />
		<result property="PNAME" column="PNAME" />
		<result property="ENAME" column="ENAME" />
		<result property="QRCHECK" column="QRCHECK" />
		<result property="QRSTOCK" column="QRSTOCK" />
		<result property="QRNOTE" column="QRNOTE" />
		<result property="QRSTATUS" column="QRSTATUS" />
	</resultMap>
	
	
		<resultMap id="Storage" type="map">
		<result property="sCode" column="SCODE" />
		<result property="sAddr" column="SADDR" />
		<result property="eCode" column="ECODE" />

	</resultMap>
	
	<resultMap id="Product" type="map">
		<result property="PCODE" column="PCODE" />
		<result property="PNAME" column="PAME" />
		<result property="PCATE" column="PCATE" />

	</resultMap>
	
	<resultMap id="Enterprise" type="map">
		<result property="eCode" column="ECODE" />
		<result property="ename" column="ENAME" />
		

	</resultMap>
	
	
	
	
	<select id="selectQuality_rList" resultMap="quality_rDetailMap">
		
		
SELECT QR.QRCODE QRCODE , E.WNAME WNAME , S.SADDR SADDR ,P.PNAME PNAME ,EN.ENAME ENAME,QR.QRCHECK QRCHECK , 
QR.QRNOTE QRNOTE, QR.QRSTOCK QRSTOCK, QR.QRSTATUS QRSTATUS
			
FROM  QUALITY_R QR , EMPLOYEE E , STORAGE S , ENTERPRISE EN , PRODUCT P
			WHERE QR.IDCODE = E.IDCODE
			AND QR.SCODE = S.SCODE
			AND QR.PCODE= P.PCODE
			AND QR.ECODE= EN.ECODE
	</select> 
	
	<!-- <select id="selectQuality_r" parameterType="_int" resultType="Quality_r">
		SELECT * FROM QUALITY_R WHERE  = #{QRCODE}
	</select> -->
	
	<insert id="insertQuality_r" parameterType="Quality_r">
		INSERT INTO QUALITY_R
		VALUES (SEQUENCE_RQRCODE.NEXTVAL,#{IDCODE}, 
		        #{SCODE},  #{PCODE},
		        #{ECODE},#{QRCHECK},#{QRNOTE},#{QRSTOCK},#{QRSTATUS})
</insert>

	<update id="updateQuality_r" parameterType="Quality_r">
		UPDATE QUALITY_R
		SET QRCODE = #{QRCODE},
		    IDCODE= #{IDCODE},
		     SCODE= #{SCODE},
		     PCODE= #{PCODE},
		     IN_CODE= #{IDCODE},
		     QRCHECK= #{QRCHECK},
		       QRNOTE= #{QRNOTE},
		       QRSTOCK= #{QRSTOCK},
		     
		     
		WHERE QRCODE = #{QRCODE}
		

	</update>
	
	<delete id="deleteQuality_r" parameterType="_int">
		DELETE FROM QUALITY_R WHERE QRCODE = #{QRCODE}
	</delete> 
	
	<select id="quality_rDetailList" resultMap="Storage">
		SELECT SCODE, SADDR, ECODE FROM STORAGE
	</select>
	
	<select id="productDetailList" resultMap="Product">
		SELECT PCODE, PNAME  FROM PRODUCT
	</select>
	
	<select id="enterpriseDetailList" resultMap="Enterprise">
		SELECT ECODE, ENAME FROM ENTERPRISE
	</select>
	
</mapper>








