<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scheduling">
	


<resultMap id="scheduleMap" type="Scheduling">
		<id property="_id" column="sc_id" />
		<result property="title" column="sc_title" />
		<result property="eCode" column="eCode"/>
		<result property="description" column="sc_detail" />
		<result property="start" column="sc_start" />
		<result property="end" column="sc_end" />
		<result property="type" column="sc_type" />
		<result property="username" column="sc_name" />
		<result property="backgroundColor" column="sc_back" />
		<result property="textColor" column="sc_text" />
		<result property="allDay" column="sc_allday" />
			</resultMap>



<select id="selectSchedule" resultMap="scheduleMap">
	SELECT *
	FROM SCHEDULING
	WHERE ECODE = #{eCode}


</select>





<insert id="insertSchedule">

	INSERT INTO SCHEDULING VALUES(
	SC_SEQ.NEXTVAL,#{eCode},#{title},#{description},
	#{start},#{end},#{type},#{username},#{backgroundColor},
	#{textColor},#{allDay}
	
	)
	
</insert>

<update id="resizeSchedule">
 UPDATE SCHEDULING SET 
 	SC_START = #{start},
 	SC_END = #{end}
 	WHERE SC_ID = #{_id}

</update>

<update id="updateSchedule">
 UPDATE SCHEDULING SET
 
  	SC_TITLE = #{title},
 	SC_START = #{start},
 	SC_END = #{end},
 	SC_DETAIL = #{description},
 	SC_TYPE = #{type},
 	SC_NAME = #{username},
 	SC_BACK = #{backgroundColor},
 	SC_TEXT = #{textColor},
 	SC_ALLDAY = #{allDay}
 	WHERE SC_ID = #{_id}

</update>

<delete id="deleteSchedule">

 DELETE FROM SCHEDULING WHERE SC_ID = #{_id}

</delete>





</mapper>
