<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storage">
	<resultMap id="storageMap" type="map">
		<result property="sCode" column="SCODE" />
		<result property="eCode" column="ECODE" />
		<result property="idCode" column="IDCODE" />
		<result property="sCate" column="SCATE" />
		<result property="sPhone" column="SPHONE" />
		<result property="sAddr" column="SADDR" />
		<result property="sStatus" column="SSTATUS" />
		<result property="sEname" column="ENAME" />
		<result property="sWname" column="WNAME" />
	</resultMap>

	<!-- Storage -->
	
	<select id="selectStorageList" resultMap="storageMap">
	SELECT S.SCODE SCODE, S.ECODE ECODE, S.IDCODE IDCODE, S.SCATE SCATE, S.SPHONE SPHONE, S.SADDR SADDR, 
        S.SSTATUS SSTATUS, E.ENAME ENAME, M.WNAME WNAME
    	FROM STORAGE S, ENTERPRISE E, EMPLOYEE M
    	WHERE S.ECODE = E.ECODE
      	AND S.IDCODE = M.IDCODE
		ORDER BY SCODE
	</select>
	
	<select id="selectStorageOne" resultType="storage">
		SELECT *
			FROM MATERIAL
			WHERE MCODE = #{mCode}
	</select>
	
	<insert id="insertStorage">
		INSERT INTO STORAGE
			VALUES (STORAGE_SEQ.NEXTVAL, #{eCode}, #{idCode}, #{sCate}, #{sPhone}, #{sAddr}, DEFAULT)
	</insert>
	
	<update id="updateStorage" parameterType="storage">
		UPDATE STORAGE
		    SET ECODE = #{eCode},
		        SCATE = #{sCate},
		        SPHONE = #{sPhone},
		        SADDR = #{sAddr},
		        SSTATUS = #{sStatus}
		    WHERE SCODE = #{sCode}
	</update>
	
	<delete id="deleteStorage">
		DELETE FROM STORAGE
	    	WHERE SCODE = #{sCode}
	</delete>
	
	<!-- StorageDetail -->
	
	<select id="selectStorageDetailList" resultType="storagedetail">
		SELECT *
			FROM STORAGE_DETAIL
			ORDER BY SDCODE
	</select>
	
	<select id="selectStorageDetailOne" resultType="storagedetail">
		SELECT *
			FROM STORAGE_DETAIL
			WHERE SDCODE = #{sdCode}
	</select>
	
	<insert id="insertStorageDetail">
		INSERT INTO STORAGE_DETAIL
			VALUES (STORAGE_DETAIL_SEQ.NEXTVAL, #{sCode}, #{mCode}, #{pCode}, #{in_Code},
	 		#{idCode}, #{sdStock}, #{sdCost}, #{sdDivi}, #{sdPrice}, #{sdDate})
	</insert>
	
	<update id="updateStorageDetail" parameterType="storagedetail">
		UPDATE STORAGE_DETAIL
	    	SET SCODE = #{sCode},
		    	MCODE = #{mCode},
		    	PCODE = #{pCode},
		    	IN_CODE = #{in_Code},
		    	IDCODE = #{idCode},
		        SDSTOCK = #{sdStock},
		        SDCOST = #{sdCost},
		        SDDIVI = #{sdDivi},
		        SDPRICE = #{sdPrice},
		        SDDATE = #{sdDate}
		    WHERE SDCODE = #{sdCode}
	</update>
	
	<delete id="deleteStorageDetail">
		DELETE FROM STORAGE_DETAIL
	    	WHERE SDCODE = #{sdCode}
	</delete>
	 
</mapper>
